# Runtime data when running NeverNote directly from the git repos
/db/
/logs/
/res/
/secure.txt
/translations/*.qm

# Eclipse compiled classes
/bin/

# Ignore compilation results - no need for these to be under source control
*.class

#meta files & Eclipse files
/.metadata/
/*.classpath

#Local platform binaries
/lib/*.dll
