[Desktop Entry]
Name=NeverNote
Comment=Use with Evernote to remember everything
GenericName=Evernote-clone
Exec=/usr/share/nevernote/nevernote.sh
Icon=/usr/share/nevernote/nevernote.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;
