Package: nevernote
Version: 0.92.1
Section: x11 
Priority: optional
Architecture: i386
Essential: no
Depends: java6-runtime | default-jre
Maintainer: Randy Baumgarte <randy@fbn.cx>
Description: An open source clone designed to interact with Evernote.
